@import "variables";
@import "mixins";
.excel_table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-heigth + $toolbar-height + $formula-height;
  overflow-x: auto;
  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
    user-select: none;
    
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background-color: #f8f9fa;
    border-top: none;
    position: relative;
    user-select: none;
  }

  .row-data {
    display: flex;
  }
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    position: relative;
    user-select: none;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e2e2;
    border-left: none;
    border-top: none;
    white-space: nowrap;
    color: black;
    outline: none;
    &.selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }

  .col-size, .row-size{
    position: absolute;
    background-color: #3c74ff;
    right: 0;
    opacity: 0;
    z-index: 1000;
    &:hover{
      opacity: 1!important;
    }
   
  }
  .col-size{
    width: 4px;
    bottom: 0;
    top: 0;
   
  }
  .row-size{
    height: 4px;
    left: 0;
    bottom: 0;
   
  }
}
